body {
    background-color: lightgray;
}

.ratings {
    font-size: 18px;
}

.btn {
    background-color: teal;
}

.btn-primary {
    margin-left: 10px;
    background: teal;
    color: white;
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;;
}
            
@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
                }
}